{% extends '::base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block header %}
    <h1>Ajouter un tweet</h1>
{% endblock %}

{% block content %}
    <form method="post" action="">
        <input type="text" name="message" />
        <input type="submit" value="Envoyer" />
    </form>
{% endblock %}

{% block footer %}
    {{ parent() }}
    - <a href="{{ path('app_twig_test') }}">Lien vers la page twig test</a>
{% endblock %}