{% extends '::base.html.twig' %}

{% block title %}Liste des tweets{% endblock %}

{% block header %}
    <h1>D&eacute;tail d'un tweet</h1>
{% endblock %}

{% block content %}
{% if tweet %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Pseudo (plus tard)</h3>
        </div>
        <div class="panel-body">
            {{ tweet.message }}
        </div>
        <div class="panel-footer">
            <p>aimer ce tweet</p>
        </div>
    </div>
{% else %}
    <div class="alert alert-warning">
        Aucun tweet
    </div>
{% endif %}
{% endblock %}

{% block footer %}
    {{ parent() }}
    - <a href="{{ path('app_twig_test') }}">Lien vers la page twig test</a>
{% endblock %}